<section class="post-hero">
  <div class="post-hero-content">
    <h1>El código del castigo</h1>
    <p class="post-meta">
      15 de diciembre · ComicVerse
    </p>
  </div>
</section>

<section class="post-content">

  <img
    src="/public/001.jpg"
    alt="Punisher"
    class="post-image"
  />

  <p>
    En los rincones más oscuros del mundo, donde la justicia dejó de existir,
    surge una figura que no busca redención. No es un héroe, no es un villano.
    Es el castigo.
  </p>

  <p>
    Inspirado en la brutalidad del Punisher y envuelto en una estética medieval,
    este relato explora la delgada línea entre la venganza y la justicia.
  </p>

  <h2>Un mundo sin misericordia</h2>

  <p>
    Las ciudades han caído, los reyes mienten y los inocentes pagan el precio.
    En este caos, el castigo no pide permiso, actúa.
  </p>

  <blockquote>
    “Cuando la ley falla, el castigo no duda.”
  </blockquote>

  <p>
    Este blog no busca glorificar la violencia, sino cuestionar hasta dónde
    puede llegar un hombre cuando el sistema ya no protege a nadie.
  </p>

</section>

<button class="btn-home" routerLink="/">
  ⬅ Volver al inicio
</button>
