/* HERO */
.hero {
  height: 85vh;
  background-image: url("../../../assets/hero-comics.jpg");
  background-size: cover;
  background-position: center -5%;
}

.overlay {
  background: linear-gradient(
    to bottom,
    rgba(10, 10, 10, 0.85),
    rgba(15, 15, 15, 0.7),
    rgba(10, 10, 10, 0.9)
  );
}

/* COMIC CARD */
.comic-card img {
  height: 210px;
  object-fit: cover;
  filter: grayscale(20%) contrast(115%);
}

.card-title {
  font-size: 1.35rem;
  letter-spacing: 1px;
}
